@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full bg-white;
  }
  body {
    @apply h-full overflow-hidden;
  }
}

@keyframes resultAnim {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.calcResult {
  animation: resultAnim 1s cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes breathe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.icon {
  @apply absolute z-[10];
  animation: breathe 2s;
}
